/**********************************************
*** GENERAL
**********************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  float: right;
}
.red {
  color: #ff5049 !important;
}
.red-focus:focus {
  border: 1px solid #ff5049 !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  position: absolute;
  width: 21.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.budget__title {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.6rem;
  font-weight: 300;
}

.budget__value {
  font-weight: 300;
  font-size: 2.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
  padding: 0.75rem;
  text-transform: uppercase;
}

.budget__income {
  margin-bottom: 0.625rem;
  background-color: #28b989;
}

.budget__expenses {
  background-color: #ff5049;
}

.budget__income--text,
.budget__expenses--text {
  float: left;
  font-size: 1.1rem;
  color: #444;
  margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 2.1rem;
  font-size: 0.645rem;
  padding: 3px 0;
  margin-left: 0.625rem;
}

.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
  padding: 0.9rem;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

.add__container {
  margin: 0 auto;
  text-align: center;
}

.add__type {
  width: 3.5rem;
  border: 1px solid #e7e7e7;
  height: 2.75rem;
  font-size: 1.2rem;
  color: inherit;
  background-color: #fff;
  margin-right: 0.625rem;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid #e7e7e7;
  background-color: #fff;
  color: inherit;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.725rem 0.95rem;
  margin-right: 0.625rem;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 25rem;
}
.add__value {
  width: 6.25rem;
}

.add__btn {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: #28b989;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 0.625rem;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid #28b989;
}

.add__btn:focus {
  outline: none;
}

/***** LISTS *****/
.container {
  width: 62.5rem;
  margin: 3.75rem auto;
}

.income {
  float: left;
  width: 29.5rem;
  margin-right: 3.2rem;
}

.expenses {
  float: left;
  width: 29.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.95rem;
}

.icome__title {
  color: #28b989;
}
.expenses__title {
  color: #ff5049;
}

.item {
  padding: 0.82rem;
  border-bottom: 1px solid #e7e7e7;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}
.item:nth-child(even) {
  background-color: #f7f7f7;
}

.item__description {
  float: left;
}

.item__value {
  float: left;
  transition: transform 0.4s;
}

.item__percentage {
  float: left;
  margin-left: 1.25rem;
  transition: transform 0.3s;
  font-size: 0.67rem;
  background-color: #ffdad9;
  padding: 3px;
  border-radius: 3px;
  width: 2rem;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: #28b989;
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: #ff5049;
}

.item__delete {
  float: left;
}

.item__delete--btn {
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-1.25rem);
}
.item:hover .item__percentage {
  transform: translateX(-1.25rem);
}

.unpaid {
  background-color: #ffdad9 !important;
  cursor: pointer;
  color: #ff5049;
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}
