/**********************************************
*** GENERAL
**********************************************/

:root {
  --income-color: #28b989;
  --expense-color: #ff5049;
  --percentage-color: #ffdad9;

  --border-color: #e7e7e7;

  --copyright-text-color: #555;

  --background-color--1: #fff;
  --background-color--2: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  position: relative;
  height: 100vh;
  font-weight: 400;
}

.right {
  float: right;
}
.red {
  color: var(--expense-color) !important;
}
.red-focus:focus {
  border: 1px solid var(--expense-color) !important;
}

/**********************************************
*** TOP PART
**********************************************/

.top {
  height: 40vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url(hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}

.budget {
  position: absolute;
  width: 21.875rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--background-color--1);
}

.budget__title {
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 0.6rem;
  font-weight: 300;
}

.budget__value {
  font-weight: 300;
  font-size: 2.875rem;
  text-align: center;
  margin-bottom: 1.5rem;
  letter-spacing: 2px;
}

.budget__income,
.budget__expenses {
  padding: 0.75rem;
  text-transform: uppercase;
}

.budget__income {
  margin-bottom: 0.625rem;
  background-color: var(--income-color);
}

.budget__expenses {
  background-color: var(--expense-color);
}

.budget__income--text,
.budget__expenses--text {
  float: left;
  font-size: 1.1rem;
  color: #444;
  margin-top: 2px;
}

.budget__income--value,
.budget__expenses--value {
  letter-spacing: 1px;
  float: left;
}

.budget__income--percentage,
.budget__expenses--percentage {
  float: left;
  width: 2.1rem;
  font-size: 0.645rem;
  padding: 3px 0;
  margin-left: 0.625rem;
}

.budget__expenses--percentage {
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  border-radius: 3px;
}

/**********************************************
*** BOTTOM PART
**********************************************/

/***** FORM *****/
.add {
  padding: 0.9rem;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color--2);
}

.add__container {
  margin: 0 auto;
  text-align: center;
}

.add__type {
  width: 3.5rem;
  border: 1px solid var(--border-color);
  height: 2.75rem;
  font-size: 1.2rem;
  color: inherit;
  background-color: var(--background-color--1);
  margin-right: 0.625rem;
  border-radius: 5px;
  font-weight: 300;
  transition: border 0.3s;
}

.add__description,
.add__value {
  border: 1px solid var(--border-color);
  background-color: var(--background-color--1);
  color: inherit;
  font-family: inherit;
  font-size: 0.9rem;
  padding: 0.725rem 0.95rem;
  margin-right: 0.625rem;
  border-radius: 5px;
  transition: border 0.3s;
}

.add__description {
  width: 25rem;
}
.add__value {
  width: 6.25rem;
}

.add__btn {
  font-size: 2.2rem;
  background: none;
  border: none;
  color: var(--income-color);
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.1;
  margin-left: 0.625rem;
  transition: transform 0.2s;
}

.add__btn:active {
  transform: translateY(2px);
}

.add__type:focus,
.add__description:focus,
.add__value:focus {
  outline: none;
  border: 1px solid var(--income-color);
}

.add__btn:focus {
  outline: none;
}

/***** LISTS *****/
.container {
  width: 62.5rem;
  margin: 3.75rem auto;
}

.income {
  float: left;
  width: 29.5rem;
  margin-right: 3.2rem;
}

.expenses {
  float: left;
  width: 29.5rem;
}

h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.95rem;
}

.icome__title {
  color: var(--income-color);
}
.expenses__title {
  color: var(--expense-color);
}

.item {
  padding: 0.82rem;
  border-bottom: 1px solid var(--border-color);
}

.item:first-child {
  border-top: 1px solid var(--border-color);
}
.item:nth-child(even) {
  background-color: var(--background-color--2);
}

.item__description {
  float: left;
}

.item__value {
  float: left;
  transition: transform 0.4s;
}

.item__percentage {
  float: left;
  margin-left: 1.25rem;
  transition: transform 0.3s;
  font-size: 0.67rem;
  background-color: var(--percentage-color);
  padding: 3px;
  border-radius: 3px;
  width: 2rem;
  text-align: center;
}

.income .item__value,
.income .item__delete--btn {
  color: var(--income-color);
}

.expenses .item__value,
.expenses .item__percentage,
.expenses .item__delete--btn {
  color: var(--expense-color);
}

.item__delete {
  float: left;
}

.item__delete--btn {
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  display: none;
  transition: transform 0.2s;
}

.item__delete--btn:focus {
  outline: none;
}
.item__delete--btn:active {
  transform: translateY(2px);
}

.item:hover .item__delete--btn {
  display: block;
}
.item:hover .item__value {
  transform: translateX(-1.25rem);
}
.item:hover .item__percentage {
  transform: translateX(-1.25rem);
}

.unpaid {
  background-color: var(--percentage-color) !important;
  cursor: pointer;
  color: var(--expense-color);
}

.unpaid .item__percentage {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
}
.unpaid:hover .item__description {
  font-weight: 900;
}

.copyright {
  margin-top: 15rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;
  text-align: center;
  color: var(--copyright-text-color);
}

.github-link:link,
.github-link:visited {
  color: var(--copyright-text-color);
  transition: all 0.2s;
}

.github-link:hover,
.github-link:active {
  color: var(--income-color);
}
